/* Vista 3 Custom Styles for Metro de Quito S-Curve Track */
:host {
  display: block;
  width: 100%;
}

.scale-125 {
  transform: scale(1.25);
}

.border-3 {
  border-width: 3px;
}

.border-t-3 {
  border-top-width: 3px;
}

.border-r-3 {
  border-right-width: 3px;
}

.border-b-3 {
  border-bottom-width: 3px;
}

.border-l-3 {
  border-left-width: 3px;
}
